# Daily local database backup
00 03 * * * /bin/sh -c "/usr/bin/mongodump -o /opt/dmds-mean/backups/`date +\%a` -d dmds"
# Daily create thumbnails
00 04 * * * cd /opt/dmds-mean && scripts/create_thumbnails.sh
# Daily Google Drive backup
00 05 * * * cd /opt/dmds-mean && grive --ignore '(?=^.git$)|(?=^node_modules$)|(?=^public/assets/libs$)'
